---
layout: layouts/project.njk
title: "Photography | by Gazi Taufiq | Product & Service Designer | UI Engineer"
heroTitle:
#  sub: ""
  main: "Photography, Videograophy & post-prduction work"

heroImage: "/assets/images/playground/photography/photography-thumb.jpg"

projectNav:
- title: "Mobile Photography"
  href: "#mobile-photography"
    
- title: "Photography"
  href: "#photography"
 #   time: "~1min"
  
 #   subtitle: "Research findings that shaped the project."
 #   type: "HIGHLIGHTS"
 #   time: "~4min"


# --- Project Meta Data ---
client:
  name: "National Institute of Design"
  logo: "/assets/images/client-nid.png"
modules:
#  - "Retail Communication - DP1"
#  - "Design Management - DM3"
#  - "Service Design - DP3"
role: 
#  - "Service Design"
#  - "Product Design"
#  - "UI/UX Design"
#  - "Branding"
#  - "Systems Thinking"
#timeline: "12 Weeks"
tools:
  - { name: "Adobe Photoshop", logo: "/assets/images/tool-ps.png" }
  - { name: "Premiere Pro", logo: "/assets/images/tool-premiere.png" }
credits:
  - { name: "Gazi Taufiq", role: "Designer", avatar: "/assets/images/avatar-gazi.png" }
recognition:
impact:
#  - { icon: "/assets/images/icon-users.png", text: "75% interviewees said they felt brand connection with the K-wave" }

quickViewImages:
#  - { src: "/assets/images/kafego/kafego-challenge-solution.png", alt: "Quickview image 1" }
---

{# This is the content that goes *after* the meta box #}


<section id="photography">
  {# <h2 class="mobile-subheader">Photography</h2> #}
  <figure class="project-media">
    
    {# <img src="/assets/images/kafego/kafego-challenge-solution.png" alt="Research image 0"> #}
    <div class="image-placeholder"><img src="/assets/images/playground/photography/mobile-photography/01.jpg" alt="mobile photography image 1" loading="lazy" onload="this.parentElement.classList.add('is-loaded')"> </div>
    <div class="image-placeholder"><img src="/assets/images/playground/photography/mobile-photography/02.jpg" alt="mobile photography image 1" loading="lazy" onload="this.parentElement.classList.add('is-loaded')"> </div>
    <div class="image-placeholder"><img src="/assets/images/playground/photography/mobile-photography/03.jpg" alt="mobile photography image 1" loading="lazy" onload="this.parentElement.classList.add('is-loaded')"> </div>
    
  </figure>
</section>

<section id="mobile-photography">
  {# <h2 class="mobile-subheader">Photography</h2> #}
  <figure class="project-media">
    
    {# <img src="/assets/images/kafego/kafego-challenge-solution.png" alt="Research image 0"> #}
    <div class="image-placeholder"><img src="/assets/images/playground/photography/camera/01.jpg" alt="mobile photography image 1" loading="lazy" onload="this.parentElement.classList.add('is-loaded')"> </div>
    
</section>



{# <section id="ui-ux-design">
  <h2 class="mobile-subheader">Solution</h2>
  
</section>
<section id="detailed-process">
  <h2 class="mobile-subheader">process</h2>
  
</section>
<section id="behind-the-scene">
  <h2 class="mobile-subheader">Solution</h2>
  
</section> #}