<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64x64.png">
  <title>{{ title }}</title>

  <script>document.documentElement.classList.add('js-enabled');</script>
  <link rel="stylesheet" href="/assets/css/bundle.css">
</head>
<body>

  <!-- ================== SITE LOADER ================== -->
<div class="site-loader">
  
  <!-- The Paper Background (Two Halves) -->
  <div class="loader-bg-left"></div>
  <div class="loader-bg-right"></div>

  <!-- The Content -->
  <div class="loader-content">
    <div class="loader-content-item">
      <img src="/images/loader-name-logo.png" alt="Gazi Taufiq" class="loader-name">
    </div>
    <div class="loader-content-item">
      <p class="loader-subtitle">Multi-disciplinary designer</p>
    </div>
    <div class="loader-content-item">
      <img src="/images/loader-tram.png" alt="A tram bobbing up and down" class="loader-tram">
    </div>
    <div class="loader-content-item">
      <p class="loader-coming-soon">My Portfolio is coming soon...</p>
    </div>
  </div>

</div>
<!-- ================== END LOADER ================== -->

  <header class="site-header">
  
  <div class="site-header__brand">
    <a href="/" class="site-header__brand-link" aria-label="Gazi Taufiq, Homepage">
      <img src="/images/logo-icon.svg" alt="" class="site-header__logo" aria-hidden="true">
      <span class="site-header__brand-text">
        <span class="site-header__my-name">Gazi Taufiq</span>
            <span class="site-header__my-role">| Multi-disciplinary Designer </span>
        </span>
    </a>
  </div>

  <button class="site-header__mobile-toggle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="site-navigation">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="site-header__nav" id="site-navigation">
    <ul>
      <li><a href="/works/">Works</a></li>
      <li><a href="/playground/">Playground</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/resume/">Resume</a></li>
    </ul>
    
    <a href="/contact/" class="btn-contact">Contact</a>
  </nav>
 <div class="fuzzy-overlay fuzzy-overlay__header"></div>
</header>

  <main>
    {{ content | safe }}

   

  </main>

  <footer class="site-footer">

  <div class="footer-col-left">
    <p class="site-footer__copyright">©2025 <span class ="site-footer__name">Gazi Taufiq </span></p>
    <p class="site-footer__tagline">
      Designed and vibe coded with ❤️, momo<br>
      & black coffee by yours truly
    </p>
  </div>

  <div class="footer-col-right">
    <nav class="site-footer__nav" aria-label="Footer navigation">
      <ul>
        <li><a href="/works/">Works</a></li>
        <li><a href="/playground/">Playground</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/resume/">Resume</a></li>
      </ul>
    </nav>
    <div class="site-footer__contact">
      <p>Reach me at: <a href="mailto:gazitaufiqislam@gmail.com">gazitaufiqislam@gmail.com</a></p>
    </div>
  </div>

  {# <div class="site-footer__stickers"> #}
    <img src="/images/dumpling.png" alt="" class="sticker sticker-dumpling" aria-hidden="true">
    <img src="/images/camera.png" alt="" class="sticker sticker-camera" aria-hidden="true">
    <img src="/images/jersey.png" alt="" class="sticker sticker-jersey" aria-hidden="true">
    <img src="/images/cassette.png" alt="" class="sticker sticker-cassette" aria-hidden="true">
  {# </div> #}

</footer>

  <script src="/assets/js/bundle.js" defer></script>
 <div class="fuzzy-overlay"></div>
</body>
</html>