---
layout: layouts/base.njk
title: "About Me"
---

<div class="about-page-content">
  <div class="about-text">
    {# <h2>About Me</h2> #}
    <h3>stay tuned</h3>
  </div>
  
  <div id="lottie-cooking"></div>
</div>