---
layout: layouts/base.njk
title: Gazi Taufiq | Multi-disciplinary Designer
---

<section class="hero-section">
  
  <div class="hero-left-content">
    
    <div class="hero-name-container">
      <img src="/images/brown-paper.png" alt="" class="hero-brown-paper" aria-hidden="true">
      <img src="/images/gazi-taufiq-cursive.png" alt="Gazi Taufiq" class="hero-name-cursive">
      
      <img src="/images/dove.png" alt=""   id="dove" class="hero-dove sticker" aria-hidden="true">
      <img src="/images/leaf-top-left.png" alt=""  id="leaf-left" class="hero-leaf-top-left sticker" aria-hidden="true">
      <img src="/images/leaf-bottom-right.png" alt=""  id="leaf-right" class="hero-leaf-bottom-right sticker" aria-hidden="true">
    </div>

    <div class="hero-description-container">
      <img src="/images/newspaper-bg.png" alt="" class="hero-newspaper-bg" aria-hidden="true">
      <p class="hero-description-text">
        A pragmatic multi-disciplinary designer who can <span>code...</span><br>
        making engaging experiences for <span class="highlight">users</span> people that drive business goals.
      </p>
    </div>

  </div>

  <div class="hero-right-composition">
    <img src="/images/right-composition.png" alt="A collection of photos of Gazi Taufiq" class="hero-main-image">
  </div>

</section>