---
layout: layouts/base.njk
title: "Playground"
---

<div class="playground-page-content">
  <div class="playground-text">
    {# <h2>Playground</h2> #}
    <p>stay tuned its cooking.</p>
  </div>
  
  <div id="lottie-playground"></div>
</div>