* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-serif;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: $font-serif;
  font-weight: 600;
}

a {
  color: $color-neutral-900;
  text-decoration: none;
  &:hover {
    color: $color-neutral-700
  }
}

h1 {
    font-weight: 700;
}

code, pre {
  font-family: $font-mono;
}

// body {
//     position: relative;
//     overflow-x: hidden;
// }
.fuzzy-overlay{
  // pointer-events: none;
  position: fixed;
  inset: -200%;
  background: url("../images/noise-bg.png");
  opacity: 0.35;
  z-index: -10;
  animation: shift .5s linear infinite both;

}

@keyframes shift {
    0% {
        transform: translate(10%, 10%);
    }
    100% {
        transform: translate(-10%, -10%);
    }
    
}