* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html, body {
//   overflow: hidden;
// }

h1, h2, h3 {
  font-family: $font-serif;
  font-weight: 600;
}

a {
  color: $color-neutral-900;
  text-decoration: none;
  &:hover {
    color: $color-neutral-700
  }
}

h1 {
    font-weight: 700;
}

code, pre {
  font-family: $font-mono;
}
body {
  position: relative;
  isolation: isolate;
}
body::after {
    // position: relative;
    // overflow-x: hidden;
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("../images/noise-bg.png");
    background-repeat: repeat;
    opacity: 0.25;
    z-index: -1;
    
}

main {
  // This pushes all page content down to account for the fixed header
  padding-top: $header-height;
}

// ... (your other base styles) ...


.fuzzy-overlay{
  pointer-events: none;
  position: fixed;
  inset: -200%;
  background: url("../images/noise-bg.png");
  opacity: 0.35;
  z-index: -10;
  // animation: shift .5s linear infinite both;

}

@keyframes shift {
    0% {
        transform: translate(10%, 10%);
    }
    100% {
        transform: translate(-10%, -10%);
    }
    
}

/*--------------------------------*\
  #BASE STYLES
\*--------------------------------*/

// By default, hide the main content.
// The JS will un-hide it after the loader is done.
// By default (no-JS), the content is visible
.site-header,
.hero-section,
.site-footer {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

// *If* JS is enabled, hide the content
html.js-enabled {
  // overflow: hidden; // Prevent scrolling during load

  background-image: url("../images/noise-bg.png");

  .site-header,
  .hero-section,
  .site-footer {
    opacity: 0;
  }
}

// *When* JS is loaded, fade the content back in
html.is-loaded {
  overflow: auto; // Re-enable scrolling

  .hero-section,
  .site-footer {
    opacity: 1;
    transition-delay: 1s; // This is fine for hero/footer
  }
  
  // --- THIS IS THE FIX ---
  .site-header {
    opacity: 1;
    // Apply delays in order: 0s for transform, 1s for opacity
    transition-delay: 0s, 1s;
  }
}