/*--------------------------------*\
  #EFFECTS
\*--------------------------------*/

.loader-noise {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  // You will need to add a noise.png image to /src/images/
  background-image: url('../images/noise-bg.png');
  background-repeat: repeat;
  opacity: 0.4;
  pointer-events: none;
  z-index: 999; // On top of all loader content
  animation: noise-animation 0.2s steps(2) infinite;
}

@keyframes noise-animation {
  0% { background-position: 0 0; }
  10% { background-position: -5% -10%; }
  20% { background-position: -15% 5%; }
  30% { background-position: 7% -25%; }
  40% { background-position: 20% 25%; }
  50% { background-position: -25% 10%; }
  60% { background-position: 15% 5%; }
  70% { background-position: 0 15%; }
  80% { background-position: 25% 35%; }
  90% { background-position: -10% 10%; }
  100% { background-position: 0 0; }
}