/* --- IBM Plex Sans --- */

/* 300 Light */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./../fonts/ibm-plex-sans-v23-latin-300.woff2') format('woff2');
}

// /* 300 Light Italic */
// @font-face {
//   font-family: 'IBM Plex Sans';
//   font-style: italic;
//   font-weight: 300;
//   font-display: swap;
//   src: url('./../fonts/ibm-plex-sans-v23-latin-300italic.woff2') format('woff2');
// }

/* 400 Regular */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./../fonts/ibm-plex-sans-v23-latin-regular.woff2') format('woff2');
}

/* 400 Regular Italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./../fonts/ibm-plex-sans-v23-latin-italic.woff2') format('woff2');
}

/* 700 Bold */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/ibm-plex-sans-v23-latin-700.woff2') format('woff2');
}

/* 700 Bold Italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/ibm-plex-sans-v23-latin-700italic.woff2') format('woff2');
}


/* --- IBM Plex Serif --- */

/* 300 Light */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-300.woff2') format('woff2');
}

/* 300 Light Italic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-300italic.woff2') format('woff2');
}

/* 400 Regular */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-regular.woff2') format('woff2');
}

/* 400 Regular Italic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-italic.woff2') format('woff2');
}

/* 600 Semi-Bold */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-600.woff2') format('woff2');
}

/* 600 Semi-Bold Italic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-600italic.woff2') format('woff2');
}

/* 700 Bold */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-700.woff2') format('woff2');
}

/* 700 Bold Italic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./../fonts/ibm-plex-serif-v20-latin-700italic.woff2') format('woff2');
}


/* --- IBM Plex Mono --- */

/* 400 Regular */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./../fonts/ibm-plex-mono-v20-latin-regular.woff2') format('woff2');
}

/* 600 Semi-Bold */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./../fonts/ibm-plex-mono-v20-latin-600.woff2') format('woff2');
}