// 1. Reset
@import '~normalize.css/normalize.css';

// 2. Variables & Fonts
@import 'fonts';
@import 'variables';

// 3. Base styles
@import 'base';
@import 'typography';
@import 'effects';

// 4. Your components and layouts will go here...

@import 'loader';
@import 'header';
@import 'hero';
@import 'works';
@import 'contact';
@import 'footer';
