---
layout: layouts/project.njk
title: "KafeGo | Project"
heroImage: "/images/hero-kafego-bg.jpg"

projectNav:
  - title: "Overview"
    href: "#overview"
    time: "~1min"
  - title: "Brand Strategy"
    subtitle: "Quickly glancing over the results for this project."
    href: "#brand-strategy"
    type: "HIGHLIGHTS"
    time: "~12min"
 # - title: "UI/UX Design"
 #   subtitle: "Quickly glancing over the results for this project."
 #   href: "#ui-ux-design"
 #   type: "HIGHLIGHTS"
 #   time: "~15min"
 # - title: "Full Process"
 #   subtitle: "Deep dive into my design process, project journey and research."
 #   href: "#full-process"
 #   time: "~30min"
 # - title: "Behind The Scene"
 #   subtitle: "Have a look at my crazy side."
 #  href: "#behind-the-scene"

# --- Project Meta Data ---
client:
  name: "National Institute of Design"
  logo: "/images/client-nid.png"
role: 
  - "Brand Strategy"
  - "UX/UI Design"
timeline: "8 Weeks"
tools:
  - { name: "Adobe Illustrator", logo: "/images/tool-ai.png" }
  - { name: "Adobe Photoshop", logo: "/images/tool-ps.png" }
  - { name:g: "Figma", logo: "/images/tool-figma.png" }
  - { name: "ChatGPT", logo: "/images/tool-chatgpt.png" }
credits:
  - { name: "Nijoo Dubey", role: "Discipline Lead", avatar: "/images/avatar-nijoo.png" }
  - { name: "Jonak Das", role: "Project Guide", avatar: "/images/avatar-jonak.png" }
  - { name: "Arathi Abraham", role: "External Faculty", avatar: "/images/avatar-arathi.png" }
  - { name: "Gazi Taufiq", role: "Designer", avatar: "/images/avatar-gazi.png" }
recognition:
impact:
  - { icon: "/images/icon-chart.png", text: "83% satisfaction score for usability tests" }
  - { icon: "/images/icon-users.png", text: "76% interviewees said they felt brand connection with the K-wave" }
---

{# This is the content that goes *after* the meta box #}



<section id="brand-strategy">
  <h2 class="mobile-subheader">Detailed Process</h2>
  <figure class="project-media">
    <img src="/images/kafego/kafego-challenge-solution.png" alt="Grid image 1">
    <img src="/images/kafego/brand-photography-01.png" alt="Grid image 1">
    <img src="/images/kafego/logo-construction.png" alt="Grid image 1">
    <img src="/images/kafego/bag-mockup.png" alt="Grid image 1">
    <img src="/images/kafego/ios-app-icon-mockup.png" alt="Grid image 1">
    <img src="/images/kafego/colours.png" alt="Grid image 1">
    <img src="/images/kafego/bag-designs.png" alt="Grid image 1">
    <img src="/images/kafego/social-media-creatives.png" alt="Grid image 1">
    <img src="/images/kafego/typeface.png" alt="Grid image 1">
    <img src="/images/kafego/brand-photography-02.png" alt="Grid image 1">
    <img src="/images/kafego/illustrations.png" alt="Grid image 1">
    <img src="/images/kafego/gable-box.png" alt="Grid image 1">
    <img src="/images/kafego/brand-photography-03.png" alt="Grid image 1">
    {# <img src="/images/kafego/logo-construction.png" alt="Grid image 1">
    <img src="/images/kafego/logo-construction.png" alt="Grid image 1">
    <img src="/images/kafego/logo-construction.png" alt="Grid image 1"> #}
  </figure>
</section>

{# <section id="ui-ux-design">
  <h2 class="mobile-subheader">Solution</h2>
  
</section>
<section id="detailed-process">
  <h2 class="mobile-subheader">process</h2>
  
</section>
<section id="behind-the-scene">
  <h2 class="mobile-subheader">Solution</h2>
  
</section> #}