---
layout: layouts/project.njk
title: "KafeGo | Project"
heroTitle:
  sub: "How optimising systems enabled authentic dining ritual without breaking the instant food delivery logistics model"
  main: "Designing the Service of a Korean Cuisine Delivery with a Systems Thinking Approach"

heroImage: "/assets/images/kafego/kafego-title.png"

projectNav:
  - title: "Overview"
    href: "#overview"
 #   time: "~1min"
  - title: "Research"
 #   subtitle: "Research findings that shaped the project."
    href: "#research"
 #   type: "HIGHLIGHTS"
 #   time: "~4min"
  - title: "Service Design"
  #   subtitle: "Research findings that shaped the project."
    href: "#service-design"
  #  type: "HIGHLIGHTS"
  #  time: "~6min"
  - title: "Users"
  #  subtitle: "The output of the project."
    href: "#users"
  #  type: "HIGHLIGHTS"
  #  time: "~7min"
  - title: "Value Proposition"
 #   subtitle: "Quickly glancing over the results for this project."
    href: "#value-proposition"
 #   type: "HIGHLIGHTS"
 #   time: "~15min"
  - title: "Business Model"
 #   subtitle: "Quickly glancing over the results for this project."
    href: "#business-model"
 #   type: "HIGHLIGHTS"
 #   time: "~15min"
  - title: "Logo Design"
 #   subtitle: "Deep dive into my design process, project journey and research."
    href: "#logo-design"
 #   time: "~30min"
  - title: "Branding"
 #   subtitle: "Have a look at my crazy side."
    href: "#branding"
  - title: "UI Design"
    href: "#ui-design"

# --- Project Meta Data ---
client:
  name: "National Institute of Design"
  logo: "/assets/images/client-nid.png"
modules:
  - "Retail Communication - DP1"
  - "Design Management - DM3"
  - "Service Design - DP3"
role: 
  - "Service Design"
  - "Product Design"
  - "UI/UX Design"
  - "Branding"
  - "Systems Thinking"
timeline: "12 Weeks"
tools:
  - { name: "Miro", logo: "/assets/images/tool-miro.png" }
  - { name: "Figma", logo: "/assets/images/tool-figma.png" }
  - { name: "Adobe Illustrator", logo: "/assets/images/tool-ai.png" }
  - { name: "Adobe Photoshop", logo: "/assets/images/tool-ps.png" }
  - { name: "Gemini", logo: "/assets/images/tool-gemini.png" }
  - { name: "ChatGPT", logo: "/assets/images/tool-chatgpt.png" }
credits:
  - { name: "Nijoo Dubey", role: "Discipline Lead", avatar: "/assets/images/avatar-nijoo.png" }
  - { name: "Jonak Das", role: "Project Guide", avatar: "/assets/images/avatar-jonak.png" }
  - { name: "Arathi Abraham", role: "External Faculty", avatar: "/assets/images/avatar-arathi.png" }
  - { name: "Krishna Mohan", role: "External Faculty", avatar: "/assets/images/avatar-krishna.png" }
  - { name: "Suneet Kumar", role: "External Faculty", avatar: "/assets/images/avatar-suneet.png" }
  - { name: "Gazi Taufiq", role: "Designer", avatar: "/assets/images/avatar-gazi.png" }
recognition:
impact:
#  - { icon: "/assets/images/icon-users.png", text: "75% interviewees said they felt brand connection with the K-wave" }

quickViewImages:
  - { src: "/assets/images/kafego/kafego-challenge-solution.png", alt: "Quickview image 1" }
---

{# This is the content that goes *after* the meta box #}


<section id="research">
  {# <h2 class="mobile-subheader">Research</h2> #}
  <figure class="project-media">
    
    {# <img src="/assets/images/kafego/kafego-challenge-solution.png" alt="Research image 0"> #}
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-01__p-01.png" alt="Research image 1" loading="lazy" onload="this.parentElement.classList.add('is-loaded')"> </div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-01__p-02.png" alt="Research image 2"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-01__p-03.png" alt="Research image 3"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-01__p-04.png" alt="Research image 4"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-01__p-05.png" alt="Research image 5"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-01__p-06.png" alt="Research image 6"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
  </figure>
</section>

<section id="service-design">
  {# <h2 class="mobile-subheader">Service Design</h2> #}
  <figure class="project-media">
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-02__p-01.png" alt="service design image 1"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-02__p-02.png" alt="service design image 2"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-02__p-03.png" alt="service design image 2"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    
  </figure>
</section>

<section id="users">
  {# <h2 class="mobile-subheader">users</h2> #}
  <figure class="project-media">
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-03__p-01.png" alt="users design image 1"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-03__p-02.png" alt="users design image 2"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-03__p-03.png" alt="users design image 3"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
  </figure>
</section>

<section id="value-proposition">
  {# <h2 class="mobile-subheader">Value Proposition</h2> #}
  <figure class="project-media">
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-04__p-01.png" alt="value proposition design image 1"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-04__p-02.png" alt="value proposition design image 2"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
  </figure>
</section>

<section id="business-model">
  {# <h2 class="mobile-subheader">business model</h2> #}
  <figure class="project-media">
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-05__p-01.png" alt="business-model design image 1"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
  </figure>
</section>

<section id="logo-design">
  {# <h2 class="mobile-subheader">Logo Design</h2> #}
  <figure class="project-media">
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-01.png" alt="logo design image 1"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-02.png" alt="logo design image 2"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-03.png" alt="logo design image 3"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-04.png" alt="logo design image 4"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-05.png" alt="logo design image 5"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-06.png" alt="logo design image 6"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-07.png" alt="logo design image 7"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-06__p-08.png" alt="logo design image 8"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
  </figure>
</section>

<section id="branding">
  {# <h2 class="mobile-subheader">branding</h2> #}
  <figure class="project-media">
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/title-label.png" alt="Grid image 1"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/brand-photography-01.png" alt="Grid image 2"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/logo-construction.png" alt="Grid image 3"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/bag-mockup.png" alt="Grid image 4"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/ios-app-icon-mockup.png" alt="Grid image 5"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/colours.png" alt="Grid image 6"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/bag-designs.png" alt="Grid image 7"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/social-media-creatives.png" alt="Grid image 8"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/typeface.png" alt="Grid image 9"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/brand-photography-02.png" alt="Grid image 10"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/illustrations.png" alt="Grid image 11"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/gable-box.png" alt="Grid image 12"></div>
    <div class="image-placeholder"><img loading="lazy" onload="this.parentElement.classList.add('is-loaded')" src="/assets/images/kafego/brand-photography-03.png" alt="Grid image 13"></div>
    {# <img src="/assets/images/kafego/logo-construction.png" alt="Grid image 1">
    <img src="/assets/images/kafego/logo-construction.png" alt="Grid image 1">
    <img src="/assets/images/kafego/logo-construction.png" alt="Grid image 1"> #}
  </figure>
</section>

<section id="ui-design">
  {# <h2 class="mobile-subheader">UI Design</h2> #}
  <figure class="project-media">
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-01.png" alt="logo design image 1"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-02.png" alt="logo design image 2"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-03.png" alt="logo design image 3"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-04.png" alt="logo design image 4"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-05.png" alt="logo design image 5"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-06.png" alt="logo design image 6"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-07.png" alt="logo design image 7"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
    <div class="image-placeholder"><img src="/assets/images/kafego/ch-08__p-08.png" alt="logo design image 8"  loading="lazy" onload="this.parentElement.classList.add('is-loaded')"></div>
  </figure>
</section>

{# <section id="ui-ux-design">
  <h2 class="mobile-subheader">Solution</h2>
  
</section>
<section id="detailed-process">
  <h2 class="mobile-subheader">process</h2>
  
</section>
<section id="behind-the-scene">
  <h2 class="mobile-subheader">Solution</h2>
  
</section> #}